<html>

	<head>
		<meta charset="utf-8">
		<title> Vensi Inc </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

	</head>
  
	<body>
    
		<div id="sidebar">
        
        
            <div id=sideHeader>
                <img src="assets/img/blueapp.png" float="center">    
            </div>
       
            <div id="menu">
            <ul>
                    <li><a href="#home"><i class="fa fa-fw fa-cogs"></i> Applications</a></li>
                    <li><a href="#data"><i class="fa fa-fw fa-tablet"></i> Device Management</a></li> 
                    <li><a href="#code"><i class="fa fa-fw fa-search"></i> Scan for devices</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-tablet"></i> My devices</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-users"></i> Organizations</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-user"></i> My Profile</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-sign-out"></i> Logout</a> </li>
            </ul>
                
            </div>

        </div>




        


		<div id="rightSideWrapper">
            
            <header> 
			    <h2>SMART SHELF DASHBOARD</h2>
            </header>


            
			
			<div class="ContentBox">

                    <div id="subHeader">    
                          <div id ="shName">
                            <a>Applications</a>   
                          </div>   
                    </div>      
		  <main>
          <br/>  
          <br/> 
          <br/> 
          <h2>INPUT VALUES FOR TRAINING DATA: </h2>
          <div align="center">
          <table align="center">
              <tr>
                <td>ITEM TYPE: </td>
                <input list="items" name="items">
                <datalist id="items">
                  <option value="Coke">
                  <option value="Gatorade">
                  <option value="Pure Leaf">
                </datalist>
              </tr>
              <tr>
              <td>TOTAL WEIGHT:</td> 
              <input  type="number" name="Num2" placeholder="Enter total weight"> 
              </tr>
              <br/> 
            </table>

          </div>
        
            <br/>
          <div align = "center">
            <button  class="button">Run Analysis</button>
          </div>
          <br/> 
          <br/> 
				</main>

				<section>
            <br/> 
        <h2>ANALYSIS: </h2>
        <br/>
        <div>
            <h3>STATISTICAL: </h3>
           
              
            <img src="assets/img/anova.png" width="300px" height="300px">
           
        </div>
        <br/>
        
            <svg id="visualisation" width="500" height="500"></svg>
        
				</section>

				<footer> 
					 
				</footer>

			</div>
			
		</div>

	</body>
	

	

</html>