<html>

	<head>
		<meta charset="utf-8">
		<title> Vensi Inc </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

	</head>
  
	<body>
    
		<div id="sidebar">
        
        
            <div id=sideHeader>
                <img src="assets/img/blueapp.png" float="center">    
            </div>
       
            <div id="menu">
            <ul>
                    <li><a href="#home"><i class="fa fa-fw fa-cogs"></i> Applications</a></li>
                    <li><a href="#data"><i class="fa fa-fw fa-tablet"></i> Device Management</a></li> 
                    <li><a href="#code"><i class="fa fa-fw fa-search"></i> Scan for devices</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-tablet"></i> My devices</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-users"></i> Organizations</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-user"></i> My Profile</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-sign-out"></i> Logout</a> </li>
            </ul>
                
            </div>

        </div>

		<div id="rightSideWrapper">
            
            <header> 
			    <h2>SMART SHELF DASHBOARD</h2>
            </header>

			<div class="ContentBox">

                    <div id="subHeader">    
                          <div id ="shName">
                            <a>Applications</a>   
                          </div>   
                    </div>      
		  <main>
          <br/>  
          <br/> 
          <br/> 
          <h2 align = "center">Select an action </h2>
          <div align="center">
              <button (click)="onClickOpenWriteForm()" id="writeToDb" class="button">Write Values</button>
            <br/> 
          </div>
          <div align="center">
            <button (click)="onClickOpenPredictForm()" id="runAnalysis" class="button">Predict</button>
          <br/> 
        </div>        
            <br/>

          <br/> 
        </main>
        
        <div [hidden]="!write" align = "center">
            <form style="background-color:rgb(255, 255, 255)">
             <table align="center">
                <tr>
                  <td>ITEM TYPE </td>
                  <input list="items" name="items">
                  <datalist id="items">
                    <option value="Coke">
                    <option value="Gatorade">
                    <option value="Pure Leaf">
                  </datalist>
                </tr>
                <tr>
                <td>TOTAL WEIGHT</td> 
                <input  type="number" name="weight" placeholder="Enter total weight"> 
                </tr>
                <tr>
                    <td>COUNT</td> 
                    <input  type="number" name="count" placeholder="Enter count"> 
                </tr>   
                <tr>
                    <td></td> 
                    <button id="writeToDb2" class="button">Train Model</button>
                </tr>                                
                <br/> 
              </table>  
              </form>        
        </div>

        <div [hidden]="!predict" align = "center">
            <form style="background-color:rgb(255, 255, 255)">
             <table align="center">
                <tr>
                  <td>ITEM TYPE </td>
                  <input list="items" name="items">
                  <datalist id="items">
                    <option value="Coke">
                    <option value="Gatorade">
                    <option value="Pure Leaf">
                  </datalist>
                </tr>
                <tr>
                <td>TOTAL WEIGHT</td> 
                <input  type="number" name="weight" placeholder="Enter total weight"> 
                </tr>  
                <tr>
                    <td></td> 
                    <button (click)="onClickOpenGraphs()" id="predict2" class="button">Run Prediction</button>
                </tr>                                
                <br/> 
              </table>  
              </form>   
              <button (click)="onClickOpenGraphs()" id="predict2" class="button">Run Prediction</button>     
        </div>        

        <div [hidden]="!graphs" align = "center" style="background-color:rgb(255, 255, 255)">
            <br/> 
        <h2>ANALYSIS: </h2>
        <br/>
        <div>
            <h3>STATISTICAL: </h3>
           
              <img src="assets/img/anova.png" width="300px" height="300px" style="background-color:rgb(255, 255, 255)">
           
        </div>
        <br/>
        <div>
            <h3>GRAPHICAL: </h3>
            <img src="assets/img/analysis.jpg" width="500px" height="500px" style="background-color:rgb(255, 255, 255)">
        </div>
			</div>

				<footer> 
					 
				</footer>

			</div>
			
		</div>

	</body>
	

	

</html>