<html>

	<head>
		<meta charset="utf-8">
		<title> Vensi Inc </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

	</head>
  
	<body>
    
		<div id="sidebar">
        
        
            <div id=sideHeader>
                <img src="assets/img/blueapp.png" float="center">    
            </div>
       
            <div id="menu">
            <ul>
                    <li><a href="#home"><i class="fa fa-fw fa-cogs"></i> Applications</a></li>
                    <li><a href="#data"><i class="fa fa-fw fa-tablet"></i> Device Management</a></li> 
                    <li><a href="#code"><i class="fa fa-fw fa-search"></i> Scan for devices</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-tablet"></i> My devices</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-users"></i> Organizations</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-user"></i> My Profile</a> </li>
                    <li><a href="#code"><i class="fa fa-fw fa-sign-out"></i> Logout</a> </li>
            </ul>
                
            </div>

        </div>




        


		<div id="rightSideWrapper">
            
            <header> 
			    <h2>SMART SHELF DASHBOARD</h2>
            </header>


            
			
			<div class="ContentBox">

                    <div id="subHeader">    
                          <div id ="shName">
                            <a>Applications</a>   
                          </div>   
                    </div>      
		  <main>
          <br/>  
          <br/> 
          <br/> 
          <h2>INPUT VALUES FOR TRAINING DATA: </h2>
          <div align="center">
          <table align="center">
              <tr>
                <td>ITEM TYPE: </td>
                <input list="items" name="items">
                <datalist id="items">
                  <option value="Coke">
                  <option value="Gatorade">
                  <option value="Pure Leaf">
                </datalist>
              </tr>
              <tr>
              <td>TOTAL WEIGHT:</td> 
              <input  type="number" name="Num2" placeholder="Enter total weight"> 
              </tr>
              <br/> 
            </table>

          </div>
        
            <br/>
          <div align = "center">
            <button  class="button">Run Analysis</button>
          </div>
          <br/> 
          <br/> 
				</main>

				<section>
            <br/> 
        <h2>ANALYSIS: </h2>
        <br/>
        <div>
            <h3>STATISTICAL: </h3>
           
              
            <img src="assets/img/anova.png" width="300px" height="300px">



        </div>
        <br/>
        <div>
          <h3>GRAPHICAL: </h3>

          <svg width="600" height="500"></svg>
<script>

    var svg = d3.select("svg"),
        margin = 200,
        width = svg.attr("width") - margin,
        height = svg.attr("height") - margin

    svg.append("text")
       .attr("transform", "translate(100,0)")
       .attr("x", 50)
       .attr("y", 50)
       .attr("font-size", "24px")
       .text("XYZ Foods Stock Price")

    var xScale = d3.scaleBand().range([0, width]).padding(0.4),
        yScale = d3.scaleLinear().range([height, 0]);

    var g = svg.append("g")
               .attr("transform", "translate(" + 100 + "," + 100 + ")");

    d3.csv('C:/1st nd 2nd sem/capp/VensiApp/src/app/coke.csv', function(error, data) {
        if (error) {
            throw error;
        }

        xScale.domain(data.map(function(d) { return d.Count; }));
        yScale.domain([0, d3.max(data, function(d) { return d.Weight; })]);

        g.append("g")
         .attr("transform", "translate(0," + height + ")")
         .call(d3.axisBottom(xScale))
         .append("text")
         .attr("y", height - 250)
         .attr("x", width - 100)
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Count");

        g.append("g")
         .call(d3.axisLeft(yScale).tickFormat(function(d){
             return d;
         })
         .ticks(10))
         .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy", "-5.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Weight");

        g.selectAll(".bar")
         .data(data)
         .enter().append("rect")
         .attr("class", "bar")
         .attr("x", function(d) { return xScale(d.Count); })
         .attr("y", function(d) { return yScale(d.Weight); })
         .attr("width", xScale.bandwidth())
         .attr("height", function(d) { return height - yScale(d.Weight); });
    });
</script>
         
      </div>
				</section>

				<footer> 
					 
				</footer>

			</div>
			
		</div>

	</body>
	

	

</html>